<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="timer_and_counter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="timer_and_counter.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <timer_and_counter.Properties.Settings>
            <setting name="timeReview" serializeAs="String">
                <value />
            </setting>
            <setting name="timeDecision" serializeAs="String">
                <value />
            </setting>
            <setting name="skip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="submit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="adt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeLastDecision" serializeAs="String">
                <value />
            </setting>
        </timer_and_counter.Properties.Settings>
        <timer_and_counter.Settings1>
            <setting name="timeReview" serializeAs="String">
                <value>2022-11-11</value>
            </setting>
            <setting name="timeDecision" serializeAs="String">
                <value>2022-11-11</value>
            </setting>
            <setting name="submit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skip" serializeAs="String">
                <value>0</value>
            </setting>
        </timer_and_counter.Settings1>
    </userSettings>
</configuration>